
.App {
  text-align: center;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav ul li {
  display: inline;
}

nav ul li button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #a34e0d;
  color: white;
  border-radius: 5px;
}

nav ul li button.selected {
  background-color: #b3864a;
}

.search-results, .bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.book-card, .bookshelf-book {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: left;
}
